body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.smallContainerA {
  display: flex;
  flex-grow: 1;
}

div.printScores {
  width: 100%;
}

div.smallContainerB {
  width: 100%;
}

div.input {
  width: 100%;
}
